<!DOCTYPE html>
<html lang="nb">
  <head>
    <title>Test EHR Notes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"
      integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/sketchy/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" id="app">
      <h1>Clinical NLP Test Application</h1>
      <p class="small">
        Using NLP service at
        <select v-model="host">
          <option disabled value="">Please select one</option>
          <option>https://ehrnotes-ask.azurewebsites.net</option>
          <option>http://localhost:8000</option>
        </select>
      </p>

      <div class="form-group">
        <label for="corpus">Notat</label>
        <textarea
          id="corpus"
          class="form-control"
          v-model="corpus"
          placeholder="Skriv inn journalnotatet her"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" v-on:click="doNLP">
          Apply NLP
        </button>
      </div>

      <div class="card">
        <div class="card-body" id="nlp_result">
          <span v-html="info"></span>
        </div>
      </div>
      <div v-if="debug">
        {{status}}
        <button v-on:click="clearStatus" class="btn btn-outline-primary">
          Clear status
        </button>
      </div>
      <div v-if="debug">
        <span>
          {{debouncedInput}}
        </span>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          v-model="show_tip"
          id="show_tip_check"
        />
        <label class="form-check-label" for="show_tip_check">
          Show info about app
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          v-model="debug"
          id="debug_check"
        />
        <label class="form-check-label" for="debug_check">
          Show debug info
        </label>
      </div>

      <!--
      
    -->
      <div class="card" v-if="debug"></div>

      <div class="card" v-if="show_tip">
        <div>
          <p class="lead">
            This is a lightweight UI prototyping a NLP powered texteditor for
            clinical notes.
          </p>
          <p>
            The REST API documentation is located here:
            <a v-bind:href="hostdoc">{{hostdoc}}</a>
          </p>
          <p>
            The NLP engine is exposed as a webservice (REST) implemented using
            <a href="https://spacy.io/">spaCy</a>. The NLP engine is prepared
            with NER to extract natural entities from the text corpus.
          </p>
          <p>
            The NLP engine is trained with health ontologies found in this open
            repo_
            <a href="https://github.com/bjornna/healthontologies"
              >github.com/bjornna/healthontologies</a
            >
          </p>
          <ul>
            <li>Anatomy based on subset of SNOMED-CT</li>
            <li>Laterality using SNOMED-CT to define left and right</li>
            <li>ICNP terminology based on PDF document</li>
            <li>Medication list prepared by clinician</li>
            <li>Some OBSERVATIONS related to Vital Signs</li>
          </ul>
          <p>Based on the above you can try sentences like:</p>
          <ul>
            <li>Pasienten har smerter i venstre skulder.</li>
            <li>BP: 120/80 mmHg</li>
            <li>Bruker paracetamol mot smerter.</li>
            <li>Temp: 38 C</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="helpers.js"></script>
    <script src="app.js"></script>
  </body>
</html>
